* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdfdfd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: violet;
    color: white;
    padding: 20px;
    margin: 20px;
}

#score {
    float: left
}

#count-down {
    float: right;
}

/*starting page*/



/*quiz content container*/
.container {
    display: flex;
    height: 100vh;
    max-width: 100vh;
    margin: 0 auto;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
}

.quiz-box {
    display: flex;
    align-items: center;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    background-color: cornflowerblue;
    padding: 1rem 5rem 5rem 5rem;
    border: 3px solid cornflowerblue;
    border-radius: 5px;
}

.quiz-box h1 {
    background-color: blueviolet;
    font-size: 4rem;
    text-align: center;
    color: antiquewhite;
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 3px;
}

.quiz-box #question {
    font-size: 1.8rem;
    font-weight: 700px;
    color: black;
    border: 1px solid gray;
    border-width: 1px 0;
    padding: 5px 0;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-header #progress {
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
}

.buttons {
    margin: 1.5rem 0 4rem 0;
}

.btn {
    text-align: left;
    background-color: rgb(255, 186, 255);
    width: 100%;
    font-size: 1.8rem;
    color: black;
    border: 1px solid rgb(119, 8, 119);
    border-radius: 5px;
    margin: 7px 0;
    padding: 1rem;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(60, 19, 60);
    color: white;
}

.btn:active {
    background-color: violet;
}

.quiz-repeat a {
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background-color: yellow;
    padding: 1rem;
    border-radius: 5px;
    transition: all .5s;
}

.quiz-repeat {
    text-align: center;
    margin: 0 auto;
}

.quiz-repeat a:hover {
    background-color: red;
}